/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lucida Grande', Verdana, Arial;
  font-size: 12px;
  background-position: center;
}

#machine {
  width: 1024px;
  height: 517px;
  position: relative; 
  background-color: rgba(122, 82, 72, 1); 
}

#pattern, #stage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#pattern {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  z-index: 100;
}

#stage {

}

#rotate {
  padding-left: 193px;
  padding-top: 105px;
  height:350px;
  overflow-y: hidden;
}

.glass {
  display: inline-block;
  width: 120px;
  margin-right: 6px;
  padding-top: 250px;
  overflow-y: hidden;
}

.slot {
  height: 350px;
  width: 120px;
  display: inline-block;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

/*.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}*/

.spin {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: x-spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: x-spin;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-name: x-spin;
}

.tile {
  position: absolute;
  bottom: 7px;
  width: 120px;
  height: 120px;
  opacity: 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.spin-button {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  float: right;
  background-color: green;
  border: darkgreen 1px solid;
  margin-right: 20px;
  margin-top: 25%;
}

.win {
  background-position: -60px;
  -webkit-animation: play .8s steps(7) infinite;
     -moz-animation: play .8s steps(7) infinite;
      -ms-animation: play .8s steps(7) infinite;
       -o-animation: play .8s steps(7) infinite;
          animation: play .8s steps(7) infinite;
}



@keyframes x-spin {
  0%    { transform: rotateX(0deg); }
  50%   { transform: rotateX(-180deg); }
  100%  { transform: rotateX(-360deg); }
}

@-webkit-keyframes x-spin {
  0%    { -webkit-transform: rotateX(0deg); }
  50%   { -webkit-transform: rotateX(-180deg); }
  100%  { -webkit-transform: rotateX(-360deg); }
}

@-moz-keyframes x-spin {
  0%    { -moz-transform: rotateX(0deg); }
  50%   { -moz-transform: rotateX(-180deg); }
  100%  { -moz-transform: rotateX(-360deg); }
}

@-webkit-keyframes play {
   from { background-position:    0 0px; }
     to { background-position: -840px 0px; }
}

@-moz-keyframes play {
   from { background-position:    0 0px; }
     to { background-position: -840px 0px; }
}

@-ms-keyframes play {
   from { background-position:    0 0px; }
     to { background-position: -840px 0px; }
}

@-o-keyframes play {
   from { background-position:    0 0px; }
     to { background-position: -840px 0px; }
}

@keyframes play {
   from { background-position:    0 0px; }
     to { background-position: -840px 0px; }
}